{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12"> 
                <div class="jumbotron">
                    <h1>Word</h1>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ word.id }}</td>
                            </tr>
                            <tr>
                                <th>Word</th>
                                <td>{{ word.word }}</td>
                            </tr>
                            <tr>
                                <th>Category</th>
                                <td>{{ word.category.title }}</td>
                            </tr>
                            <tr>
                                <th>Hint</th>
                                <td>{{ word.hint }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <ul>
                        <li>
                            <a href="{{ path('word_index') }}" class="btn btn-primary">Back to the list</a>
                        </li>
                        <li>
                            <a href="{{ path('word_edit', { 'id': word.id }) }}" class="btn btn-primary">Edit</a>
                        </li>
                        <li>
                            {{ form_start(delete_form) }}
                            <input type="submit" value="Delete" class="btn btn-danger">
                            {{ form_end(delete_form) }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
